<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= "HI #{current_user} !!!"%>
    <%debugger%>
    sdgsd
    <%= yield %>
  </body>
</html>
